myutopia_01_gmail_inbound_ia_jira.json
{
  "name": "Myutopia - 01 Gmail Inbound IA Jira",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "80ab4136-9983-4e5b-aaea-5c973637b6f0",
      "name": "Gmail Trigger - Nuevo mensaje",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REEMPLAZAR_CREDENCIAL_GMAIL",
          "name": "REEMPLAZAR_CREDENCIAL_GMAIL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nfunction pick(obj, paths) {\n  for (const p of paths) {\n    const parts = p.split('.');\n    let v = obj;\n    for (const part of parts) v = v?.[part];\n    if (v !== undefined && v !== null && v !== '') return v;\n  }\n  return '';\n}\n\nfunction cleanEmail(raw) {\n  const value = String(raw || '');\n  const match = value.match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n  return match ? match[0].toLowerCase().trim() : value.toLowerCase().trim();\n}\n\nreturn items.map(item => {\n  const j = item.json;\n  const fromRaw = pick(j, ['from.value.0.address','from.email','headers.from','from','sender']);\n  const nameRaw = pick(j, ['from.value.0.name','from.name','senderName']);\n  const text = pick(j, ['textPlain','text','body.text','snippet','body']);\n  return {\n    json: {\n      rawEmail: j,\n      leadEmail: cleanEmail(fromRaw),\n      leadName: nameRaw || '',\n      subject: j.subject || '',\n      messageText: String(text || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim(),\n      gmailMessageId: j.id || j.messageId || j.message_id || '',\n      gmailThreadId: j.threadId || j.thread_id || '',\n      receivedAt: j.date || new Date().toISOString(),\n      channel: 'Email'\n    }\n  };\n});\n"
      },
      "id": "35c3ff6f-dba7-4744-975e-1974ebf15b18",
      "name": "Normalizar email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst jiraFields = {\n  canalSeguimiento: 'customfield_10040',\n  fechaDiagnostico: 'customfield_10041',\n  tierPropuesto: 'customfield_10042',\n  agenteIa: 'customfield_10043',\n  importeSetup: 'customfield_10044',\n  numeroToque: 'customfield_10045',\n  proximaAccion: 'customfield_10046',\n  fechaVencimiento: 'customfield_10047',\n  notas: 'customfield_10048',\n  sentimiento: 'customfield_10049',\n  resumenConversacion: 'customfield_10050',\n  fechaUltimoContacto: 'customfield_10051',\n  emailLead: 'customfield_10052',\n  telefonoWhatsapp: 'customfield_10053',\n  empresa: 'customfield_10054',\n  nombreContacto: 'customfield_10055',\n  gmailThreadId: 'customfield_10056',\n  ultimoMessageIdProcesado: 'customfield_10057',\n  errorTecnico: 'customfield_10058'\n};\n\nconst config = {\n  jiraBaseUrl: 'https://greenpc.atlassian.net',\n  projectKey: 'REEMPLAZAR_PROJECT_KEY',\n  adminEmail: 'REEMPLAZAR_ADMIN_EMAIL',\n  openaiModel: 'o4-mini',\n  whatsappMode: 'simulado',\n  whatsappWebhookUrl: 'REEMPLAZAR_WHATSAPP_WEBHOOK_URL',\n  timezone: 'Europe/Madrid',\n  businessHours: {\n    start: 9,\n    end: 18,\n    days: [1, 2, 3, 4, 5]\n  },\n  confidenceThreshold: {\n    auto: 0.80,\n    review: 0.60\n  }\n};\n\nreturn items.map(item => ({ json: { ...item.json, jiraFields, config } }));\n"
      },
      "id": "05fc31c2-28f8-4704-8ea6-4f1f96e56136",
      "name": "Config Jira + campos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst j = $json;\nconst email = (j.leadEmail || '').replace(/\"/g, '\\\\\"');\nconst projectKey = j.config.projectKey;\nconst jql = `project = \"${projectKey}\" AND \"Email del lead\" ~ \"${email}\" AND status not in (\"Firmado\", \"Descartado\")`;\nreturn [{ json: { ...j, jiraSearchJql: jql, jiraSearchUrl: `${j.config.jiraBaseUrl}/rest/api/3/search?jql=${encodeURIComponent(jql)}&maxResults=5` } }];\n"
      },
      "id": "963860da-eab8-435e-92ce-b43599dbbbdc",
      "name": "Construir JQL por email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.jiraSearchUrl}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "7550bf46-f8a1-48fc-8309-ef2a0b49d7ae",
      "name": "Jira - Buscar lead por email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "REEMPLAZAR_CREDENCIAL_JIRA_BASIC",
          "name": "REEMPLAZAR_CREDENCIAL_JIRA_BASIC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst search = $json;\nconst base = $items('Config Jira + campos')[0].json;\nconst issues = search.issues || [];\nreturn [{\n  json: {\n    ...base,\n    jiraSearchResult: search,\n    leadFound: issues.length === 1,\n    multipleLeadsFound: issues.length > 1,\n    issue: issues[0] || null\n  }\n}];\n"
      },
      "id": "6a6005c1-d877-447f-b0de-621792c12fe7",
      "name": "Evaluar resultado Jira",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "leadFoundCond",
              "leftValue": "={{$json.leadFound}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "8a522bca-4eea-4b79-8e18-d839b330ce21",
      "name": "IF Lead encontrado unico",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "sendTo": "={{$json.config.adminEmail}}",
        "subject": "Myutopia - contacto no identificado en seguimiento",
        "message": "=Contacto no identificado o coincidencia múltiple.\n\nEmail: {{$json.leadEmail}}\nNombre: {{$json.leadName}}\nAsunto: {{$json.subject}}\nMensaje: {{$json.messageText}}\n\nResultado búsqueda Jira: {{$json.multipleLeadsFound ? 'Múltiples coincidencias' : 'Sin coincidencias'}}\n\nNo se ha creado ni modificado ningún ticket.",
        "options": {}
      },
      "id": "427d4628-5ef2-4e8f-a684-ce46cfd9262f",
      "name": "Gmail - Alertar admin contacto no identificado",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1680,
        520
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REEMPLAZAR_CREDENCIAL_GMAIL",
          "name": "REEMPLAZAR_CREDENCIAL_GMAIL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst f = $json.jiraFields;\nconst issue = $json.issue;\nconst fields = issue.fields || {};\nconst lastMsg = fields[f.ultimoMessageIdProcesado] || '';\nconst currentMsg = $json.gmailMessageId || '';\nreturn [{\n  json: {\n    ...$json,\n    issueKey: issue.key,\n    issueId: issue.id,\n    issueStatus: fields.status?.name || '',\n    currentMessageId: currentMsg,\n    lastProcessedMessageId: lastMsg,\n    isDuplicateMessage: Boolean(currentMsg && lastMsg && currentMsg === lastMsg),\n    currentTouch: fields[f.numeroToque]?.value || 'Sin toque',\n    currentSummary: fields[f.resumenConversacion] || '',\n    nombreContacto: fields[f.nombreContacto] || $json.leadName || '',\n    canalSeguimiento: fields[f.canalSeguimiento]?.value || 'Email',\n    telefonoWhatsapp: fields[f.telefonoWhatsapp] || '',\n    issueFields: fields\n  }\n}];\n"
      },
      "id": "e2a96f95-8c4e-40c1-aa7b-48bb8b1141f5",
      "name": "Preparar contexto issue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dupCond",
              "leftValue": "={{$json.isDuplicateMessage}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c280b359-5494-45cb-aa1a-198cde6eff19",
      "name": "IF Mensaje duplicado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        260
      ]
    },
    {
      "parameters": {},
      "id": "3729960b-d16f-462d-9451-ef8931b1d51e",
      "name": "Stop - duplicado",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2160,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst now = new Date();\nconst day = now.getDay();\nconst hour = now.getHours();\nconst isBusinessDay = [1, 2, 3, 4, 5].includes(day);\nconst isBusinessHour = hour >= 9 && hour < 18;\nreturn [{ json: { ...$json, isOutsideHours: !(isBusinessDay && isBusinessHour) } }];\n"
      },
      "id": "4988fb1a-db8a-4413-a1bb-010b6028c2d0",
      "name": "Detectar fuera de horario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "hoursCond",
              "leftValue": "={{$json.isOutsideHours}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "cf214727-e16d-4375-8a78-f4e8ebb216a1",
      "name": "IF Fuera de horario",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        320
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "sendTo": "={{$json.leadEmail}}",
        "subject": "=Hemos recibido tu mensaje, {{$json.nombreContacto || $json.leadName || ''}}",
        "message": "=Hola {{$json.nombreContacto || $json.leadName || ''}},\n\nGracias por tu mensaje. En este momento estamos fuera de nuestro horario de atención (lunes a viernes, de 9:00 a 18:00).\n\nLo revisaremos a primera hora y te responderemos personalmente antes de las 11:00 del próximo día laborable.\n\nUn saludo,\nEquipo Myutopia",
        "options": {}
      },
      "id": "4e117733-6167-426b-82f0-b7010c407fca",
      "name": "Gmail - Respuesta fuera de horario",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2640,
        180
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REEMPLAZAR_CREDENCIAL_GMAIL",
          "name": "REEMPLAZAR_CREDENCIAL_GMAIL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst systemPrompt = `Eres un clasificador operativo para el seguimiento comercial postdiagnóstico de Myutopia.\n\nTu tarea es interpretar mensajes de leads y devolver únicamente JSON válido.\n\nNo inventes datos. No inventes fechas, precios, condiciones, respuestas técnicas ni compromisos comerciales.\n\nSi el mensaje contiene una pregunta técnica, una objeción importante, una duda compleja o una intención ambigua, debes escalar a administrador.\n\nIntenciones válidas:\n- accepts_proposal\n- signed\n- asks_question\n- price_objection\n- requests_technical_meeting\n- postpones\n- rejects\n- ambiguous\n- other\n\nSentimientos válidos:\n- Entusiasta\n- Dudoso\n- Molesto\n- Frío\n- Neutral\n- No detectado\n\nDevuelve solo este JSON:\n{\n  \"intent\": \"\",\n  \"confidence\": 0,\n  \"sentiment\": \"\",\n  \"summary\": \"\",\n  \"notes\": \"\",\n  \"extracted_follow_up_date\": null\n}`;\n\nconst userPrompt = `Canal: ${$json.channel}\nAsunto: ${$json.subject}\nMensaje del lead:\n${$json.messageText}\n\nEstado actual en Jira: ${$json.issueStatus}\nNº de toque actual: ${$json.currentTouch}\nResumen previo: ${$json.currentSummary}\n\nClasifica la intención del mensaje.`;\n\nreturn [{\n  json: {\n    ...$json,\n    openaiPayload: {\n      model: $json.config.openaiModel,\n      input: [\n        { role: \"system\", content: systemPrompt },\n        { role: \"user\", content: userPrompt }\n      ],\n      text: { format: { type: \"json_object\" } }\n    }\n  }\n}];\n"
      },
      "id": "63cd40ae-3177-4b88-b5bd-2347a1950c09",
      "name": "Construir prompt OpenAI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REEMPLAZAR_OPENAI_API_KEY_O_USAR_CREDENCIAL"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.openaiPayload)}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "721b69ef-b8fa-412f-930c-953dfe3a398a",
      "name": "OpenAI - Clasificar mensaje",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        320
      ],
      "notes": "Sustituir el header Authorization por una credencial segura o variable de entorno antes de entregar. No dejar claves embebidas."
    },
    {
      "parameters": {
        "jsCode": "\nconst base = $items('Construir prompt OpenAI')[0].json;\nconst resp = $json;\n\nfunction extractText(r) {\n  if (typeof r.output_text === 'string') return r.output_text;\n  if (Array.isArray(r.output)) {\n    const texts = [];\n    for (const out of r.output) {\n      if (Array.isArray(out.content)) {\n        for (const c of out.content) {\n          if (typeof c.text === 'string') texts.push(c.text);\n        }\n      }\n    }\n    if (texts.length) return texts.join('\\n');\n  }\n  return JSON.stringify(r);\n}\n\nlet raw = extractText(resp);\nlet ai;\ntry {\n  ai = JSON.parse(raw);\n} catch (e) {\n  ai = {\n    intent: \"ambiguous\",\n    confidence: 0,\n    sentiment: \"No detectado\",\n    summary: \"No se pudo parsear la respuesta de IA.\",\n    notes: `Respuesta IA inválida: ${raw}`,\n    extracted_follow_up_date: null\n  };\n}\n\nconst currentStatus = base.issueStatus;\nlet decision = {\n  targetStatus: currentStatus,\n  resetTouchCounter: false,\n  clearDueDate: false,\n  autoReply: false,\n  replyTemplate: null,\n  alertAdmin: false,\n  alertReason: null,\n  nextAction: 'Revisión pendiente',\n  shouldTransition: false\n};\n\nconst confidence = Number(ai.confidence || 0);\nif (confidence < base.config.confidenceThreshold.review) {\n  decision.alertAdmin = true;\n  decision.alertReason = 'Baja confianza de interpretación IA';\n  decision.targetStatus = currentStatus;\n  decision.shouldTransition = false;\n  decision.autoReply = false;\n} else {\n  switch (ai.intent) {\n    case 'accepts_proposal':\n      decision = { targetStatus:'Propuesta aceptada', resetTouchCounter:true, clearDueDate:true, autoReply:true, replyTemplate:'proposal_accepted', alertAdmin:true, alertReason:'Lead acepta la propuesta', nextAction:'Preparar contrato y primera factura', shouldTransition:true };\n      break;\n    case 'signed':\n      decision = { targetStatus:'Firmado', resetTouchCounter:true, clearDueDate:true, autoReply:false, replyTemplate:null, alertAdmin:true, alertReason:'Lead indica firma o formalización', nextAction:'Iniciar onboarding/kickoff', shouldTransition:true };\n      break;\n    case 'asks_question':\n      decision = { targetStatus:'En conversación', resetTouchCounter:true, clearDueDate:true, autoReply:false, replyTemplate:null, alertAdmin:true, alertReason:'Pregunta o aclaración del lead', nextAction:'Administrador debe responder personalmente', shouldTransition:true };\n      break;\n    case 'price_objection':\n      decision = { targetStatus:'En conversación', resetTouchCounter:true, clearDueDate:true, autoReply:false, replyTemplate:null, alertAdmin:true, alertReason:'Objeción de precio', nextAction:'Gestionar objeción comercial con prioridad', shouldTransition:true };\n      break;\n    case 'requests_technical_meeting':\n      decision = { targetStatus:'Reunión devs pendiente', resetTouchCounter:true, clearDueDate:true, autoReply:true, replyTemplate:'technical_meeting', alertAdmin:true, alertReason:'Solicita llamada con equipo técnico', nextAction:'Coordinar agenda con developers', shouldTransition:true };\n      break;\n    case 'postpones':\n      decision = { targetStatus:'A la espera', resetTouchCounter:true, clearDueDate:false, autoReply:true, replyTemplate:'postponed', alertAdmin:false, alertReason:null, nextAction: ai.extracted_follow_up_date ? `Retomar contacto en ${ai.extracted_follow_up_date}` : 'Retomar más adelante; fecha no especificada', shouldTransition:true };\n      break;\n    case 'rejects':\n      decision = { targetStatus:'Descartado', resetTouchCounter:true, clearDueDate:true, autoReply:true, replyTemplate:'rejected', alertAdmin:false, alertReason:null, nextAction:'Lead cerrado por rechazo', shouldTransition:true };\n      break;\n    case 'ambiguous':\n    default:\n      decision = { targetStatus: currentStatus, resetTouchCounter:false, clearDueDate:false, autoReply:false, replyTemplate:null, alertAdmin:true, alertReason:'Mensaje ambiguo o no concluyente', nextAction:'Interpretación humana requerida', shouldTransition:false };\n      break;\n  }\n}\n\nreturn [{ json: { ...base, ai, decision, openaiRaw: resp } }];\n"
      },
      "id": "66bd4db7-7b53-4b96-ae51-d5b776c27d6c",
      "name": "Parsear IA + motor de reglas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst f = $json.jiraFields;\nconst ai = $json.ai;\nconst d = $json.decision;\nconst today = new Date().toISOString().slice(0, 10);\n\nconst fields = {\n  [f.fechaUltimoContacto]: today,\n  [f.gmailThreadId]: $json.gmailThreadId,\n  [f.ultimoMessageIdProcesado]: $json.gmailMessageId,\n  [f.sentimiento]: { value: ai.sentiment || 'No detectado' },\n  [f.resumenConversacion]: ai.summary || '',\n  [f.proximaAccion]: d.nextAction\n};\n\nif (d.resetTouchCounter) fields[f.numeroToque] = { value: 'Sin toque' };\nif (d.clearDueDate) fields[f.fechaVencimiento] = null;\n\nreturn [{ json: { ...$json, jiraUpdatePayload: { fields } } }];\n"
      },
      "id": "69beab71-6261-4fdf-a564-2639841ae644",
      "name": "Construir payload Jira update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        320
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{$json.config.jiraBaseUrl}}/rest/api/3/issue/{{$json.issueKey}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.jiraUpdatePayload)}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "52e1a1ea-93dd-4242-b38c-27bb1e1ff2fd",
      "name": "Jira - Actualizar campos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        320
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "REEMPLAZAR_CREDENCIAL_JIRA_BASIC",
          "name": "REEMPLAZAR_CREDENCIAL_JIRA_BASIC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst base = $items('Construir payload Jira update')[0].json;\nconst text = `[${new Date().toISOString()}] Mensaje recibido por ${base.channel}. Intención IA: ${base.ai.intent}. Confianza: ${base.ai.confidence}. Decisión: ${base.decision.targetStatus}. Notas: ${base.ai.notes || ''}`;\nreturn [{\n  json: {\n    ...base,\n    jiraCommentPayload: {\n      body: {\n        type: \"doc\",\n        version: 1,\n        content: [{ type: \"paragraph\", content: [{ type: \"text\", text }] }]\n      }\n    }\n  }\n}];\n"
      },
      "id": "51a81a3f-6966-4a70-a0ca-c9dd73bd837c",
      "name": "Construir comentario Jira",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.config.jiraBaseUrl}}/rest/api/3/issue/{{$json.issueKey}}/comment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.jiraCommentPayload)}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "df118095-9cdb-4ee9-b9f8-e900853f2aa7",
      "name": "Jira - Agregar comentario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        320
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "REEMPLAZAR_CREDENCIAL_JIRA_BASIC",
          "name": "REEMPLAZAR_CREDENCIAL_JIRA_BASIC"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "transCond",
              "leftValue": "={{$json.decision.shouldTransition}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c4d641c2-3bcb-49ad-9c09-c3dc682598f0",
      "name": "IF Debe transicionar",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4560,
        320
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.config.jiraBaseUrl}}/rest/api/3/issue/{{$json.issueKey}}/transitions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "54f022b5-d4de-4970-b832-1b7e9722ccfc",
      "name": "Jira - Obtener transiciones",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4800,
        180
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "REEMPLAZAR_CREDENCIAL_JIRA_BASIC",
          "name": "REEMPLAZAR_CREDENCIAL_JIRA_BASIC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst base = $items('Construir comentario Jira')[0].json;\nconst transitions = $json.transitions || [];\nconst target = base.decision.targetStatus;\nconst transition = transitions.find(t => t.to && t.to.name === target);\nreturn [{ json: { ...base, transitionFound: Boolean(transition), transitionId: transition ? transition.id : null } }];\n"
      },
      "id": "6d86dfa3-cd52-4d44-9716-39f71d88b1e8",
      "name": "Elegir transición por estado destino",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5040,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "foundTransCond",
              "leftValue": "={{$json.transitionFound}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "d9b1c468-974c-4076-99ea-6343a6013b3d",
      "name": "IF Transición encontrada",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5280,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.config.jiraBaseUrl}}/rest/api/3/issue/{{$json.issueKey}}/transitions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"transition\":{\"id\":\"{{$json.transitionId}}\"}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f678b597-c0d7-432d-a58e-3c90a2a4b11b",
      "name": "Jira - Ejecutar transición",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5520,
        80
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "REEMPLAZAR_CREDENCIAL_JIRA_BASIC",
          "name": "REEMPLAZAR_CREDENCIAL_JIRA_BASIC"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "sendTo": "={{$json.config.adminEmail}}",
        "subject": "=Myutopia - transición Jira no encontrada {{$json.issueKey}}",
        "message": "=No se encontró transición disponible hacia {{$json.decision.targetStatus}} para el ticket {{$json.issueKey}}.",
        "options": {}
      },
      "id": "17f270a2-dded-447f-82ce-4bd6f21cdb77",
      "name": "Gmail - Alertar admin transición no encontrada",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5520,
        280
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REEMPLAZAR_CREDENCIAL_GMAIL",
          "name": "REEMPLAZAR_CREDENCIAL_GMAIL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "autoReplyCond",
              "leftValue": "={{$json.decision.autoReply}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "f0e35b20-1d2c-4691-ac21-48dee41df557",
      "name": "IF Auto-respuesta segura",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4560,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst nombre = $json.nombreContacto || $json.leadName || '';\nconst template = $json.decision.replyTemplate;\n\nlet subject = '';\nlet body = '';\n\nif (template === 'proposal_accepted') {\n  subject = `¡Bienvenido a Myutopia, ${nombre}!`;\n  body = `Hola ${nombre},\n\nNos alegra muchísimo que sigáis adelante. Gracias por la confianza.\n\nLos siguientes pasos son sencillos: te enviaremos el contrato de servicio para firmar y, una vez formalizado, agendaremos la reunión de kickoff con el equipo técnico para arrancar la implementación.\n\nA partir de ahí, nos encargamos de todo.\n\nUn saludo,\nAlberto · Myutopia`;\n} else if (template === 'technical_meeting') {\n  subject = `Organizamos la llamada técnica, ${nombre}`;\n  body = `Hola ${nombre},\n\nPerfecto, organizamos esa llamada con el equipo técnico encantados. Es una reunión de unos 20-30 minutos en la que los developers te explican cómo se integraría el agente con vuestros sistemas y resuelven cualquier duda técnica.\n\n¿Qué día y hora te vienen mejor esta semana?\n\nUn saludo,\nAlberto · Myutopia`;\n} else if (template === 'postponed') {\n  subject = `Sin problema, ${nombre}, lo retomamos cuando quieras`;\n  body = `Hola ${nombre},\n\nEntiendo perfectamente, no hay ninguna prisa. Cada empresa tiene sus tiempos y lo importante es que el proyecto se haga cuando de verdad encaje para vosotros.\n\nMe pongo una nota para retomarlo más adelante y, si para entonces es buen momento, seguimos justo donde lo dejamos.\n\nUn saludo,\nAlberto · Myutopia`;\n} else if (template === 'rejected') {\n  subject = `Gracias por todo, ${nombre}`;\n  body = `Hola ${nombre},\n\nGracias por habérnoslo comentado con sinceridad y por el tiempo que nos has dedicado. Respetamos totalmente la decisión.\n\nSi en algún momento cambian las circunstancias o quieres comentar cualquier cosa sobre automatización e IA, aquí nos tienes con la puerta abierta.\n\nUn saludo,\nAlberto · Myutopia`;\n}\n\nreturn [{ json: { ...$json, replySubject: subject, replyBody: body } }];\n"
      },
      "id": "5661e5e6-6f18-4f99-af16-06cf20e973fc",
      "name": "Construir auto-respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        560
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "sendTo": "={{$json.leadEmail}}",
        "subject": "={{$json.replySubject}}",
        "message": "={{$json.replyBody}}",
        "options": {}
      },
      "id": "b572e965-014e-4016-93b2-4a3a2d26f7d2",
      "name": "Gmail - Enviar auto-respuesta",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5040,
        560
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REEMPLAZAR_CREDENCIAL_GMAIL",
          "name": "REEMPLAZAR_CREDENCIAL_GMAIL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "alertCond",
              "leftValue": "={{$json.decision.alertAdmin}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "d70c1e16-66c6-4cb0-a642-90324c2d9db0",
      "name": "IF Alertar admin",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4560,
        760
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "sendTo": "={{$json.config.adminEmail}}",
        "subject": "=Myutopia - {{$json.decision.alertReason}} - {{$json.issueKey}}",
        "message": "=Ticket: {{$json.issueKey}}\nLead: {{$json.leadEmail}}\nEstado objetivo: {{$json.decision.targetStatus}}\nIntención: {{$json.ai.intent}}\nConfianza: {{$json.ai.confidence}}\nResumen: {{$json.ai.summary}}\nMensaje: {{$json.messageText}}",
        "options": {}
      },
      "id": "6d0ae4ff-47b3-44ae-bd8e-ee09fc524ef9",
      "name": "Gmail - Alertar admin caso crítico",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4800,
        760
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REEMPLAZAR_CREDENCIAL_GMAIL",
          "name": "REEMPLAZAR_CREDENCIAL_GMAIL"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger - Nuevo mensaje": {
      "main": [
        [
          {
            "node": "Normalizar email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar email": {
      "main": [
        [
          {
            "node": "Config Jira + campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Jira + campos": {
      "main": [
        [
          {
            "node": "Construir JQL por email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir JQL por email": {
      "main": [
        [
          {
            "node": "Jira - Buscar lead por email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira - Buscar lead por email": {
      "main": [
        [
          {
            "node": "Evaluar resultado Jira",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar resultado Jira": {
      "main": [
        [
          {
            "node": "IF Lead encontrado unico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Lead encontrado unico": {
      "main": [
        [
          {
            "node": "Preparar contexto issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Alertar admin contacto no identificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar contexto issue": {
      "main": [
        [
          {
            "node": "IF Mensaje duplicado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Mensaje duplicado": {
      "main": [
        [
          {
            "node": "Stop - duplicado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detectar fuera de horario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar fuera de horario": {
      "main": [
        [
          {
            "node": "IF Fuera de horario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Fuera de horario": {
      "main": [
        [
          {
            "node": "Gmail - Respuesta fuera de horario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Construir prompt OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Respuesta fuera de horario": {
      "main": [
        [
          {
            "node": "Construir prompt OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir prompt OpenAI": {
      "main": [
        [
          {
            "node": "OpenAI - Clasificar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Clasificar mensaje": {
      "main": [
        [
          {
            "node": "Parsear IA + motor de reglas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear IA + motor de reglas": {
      "main": [
        [
          {
            "node": "Construir payload Jira update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir payload Jira update": {
      "main": [
        [
          {
            "node": "Jira - Actualizar campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira - Actualizar campos": {
      "main": [
        [
          {
            "node": "Construir comentario Jira",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir comentario Jira": {
      "main": [
        [
          {
            "node": "Jira - Agregar comentario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira - Agregar comentario": {
      "main": [
        [
          {
            "node": "IF Debe transicionar",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Auto-respuesta segura",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Alertar admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Debe transicionar": {
      "main": [
        [
          {
            "node": "Jira - Obtener transiciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira - Obtener transiciones": {
      "main": [
        [
          {
            "node": "Elegir transición por estado destino",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Elegir transición por estado destino": {
      "main": [
        [
          {
            "node": "IF Transición encontrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Transición encontrada": {
      "main": [
        [
          {
            "node": "Jira - Ejecutar transición",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Alertar admin transición no encontrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Auto-respuesta segura": {
      "main": [
        [
          {
            "node": "Construir auto-respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir auto-respuesta": {
      "main": [
        [
          {
            "node": "Gmail - Enviar auto-respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Alertar admin": {
      "main": [
        [
          {
            "node": "Gmail - Alertar admin caso crítico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "ba60b9d8-ca37-4d4a-bdee-1250f38a0e26",
  "triggerCount": 1,
  "tags": []
}