myutopia_03_whatsapp_inbound_simulado.json
{
  "name": "Myutopia - 03 WhatsApp Inbound Simulado",
  "nodes": [
    {
      "parameters": {
        "path": "myutopia-whatsapp-inbound",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "01138d39-2b18-4f37-9387-787d42f4e9a1",
      "name": "Webhook WhatsApp simulado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $json.body || $json;\nreturn [{\n  json: {\n    phone: String(body.phone || body.from || '').trim(),\n    leadName: body.name || '',\n    messageText: body.message || body.text || '',\n    whatsappMessageId: body.messageId || body.id || '',\n    receivedAt: new Date().toISOString(),\n    channel: 'WhatsApp',\n    subject: ''\n  }\n}];\n"
      },
      "id": "3ae94916-6ac6-4c68-a4fa-a6cbdf8e4445",
      "name": "Normalizar WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst jiraFields = {\n  canalSeguimiento: 'customfield_10040',\n  fechaDiagnostico: 'customfield_10041',\n  tierPropuesto: 'customfield_10042',\n  agenteIa: 'customfield_10043',\n  importeSetup: 'customfield_10044',\n  numeroToque: 'customfield_10045',\n  proximaAccion: 'customfield_10046',\n  fechaVencimiento: 'customfield_10047',\n  notas: 'customfield_10048',\n  sentimiento: 'customfield_10049',\n  resumenConversacion: 'customfield_10050',\n  fechaUltimoContacto: 'customfield_10051',\n  emailLead: 'customfield_10052',\n  telefonoWhatsapp: 'customfield_10053',\n  empresa: 'customfield_10054',\n  nombreContacto: 'customfield_10055',\n  gmailThreadId: 'customfield_10056',\n  ultimoMessageIdProcesado: 'customfield_10057',\n  errorTecnico: 'customfield_10058'\n};\n\nconst config = {\n  jiraBaseUrl: 'https://greenpc.atlassian.net',\n  projectKey: 'REEMPLAZAR_PROJECT_KEY',\n  adminEmail: 'REEMPLAZAR_ADMIN_EMAIL',\n  openaiModel: 'o4-mini',\n  whatsappMode: 'simulado',\n  whatsappWebhookUrl: 'REEMPLAZAR_WHATSAPP_WEBHOOK_URL',\n  timezone: 'Europe/Madrid',\n  businessHours: {\n    start: 9,\n    end: 18,\n    days: [1, 2, 3, 4, 5]\n  },\n  confidenceThreshold: {\n    auto: 0.80,\n    review: 0.60\n  }\n};\n\nreturn items.map(item => ({ json: { ...item.json, jiraFields, config } }));\n"
      },
      "id": "2e8a48f9-4003-4721-99b8-9da36452c3d1",
      "name": "Config Jira + campos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst phone = ($json.phone || '').replace(/\"/g, '\\\\\"');\nconst jql = `project = \"${$json.config.projectKey}\" AND \"Teléfono WhatsApp\" ~ \"${phone}\" AND status not in (\"Firmado\", \"Descartado\")`;\nreturn [{ json: { ...$json, jiraSearchJql: jql, jiraSearchUrl: `${$json.config.jiraBaseUrl}/rest/api/3/search?jql=${encodeURIComponent(jql)}&maxResults=5` } }];\n"
      },
      "id": "0cba3717-9ab3-471f-bf87-474a998b2331",
      "name": "Construir JQL por teléfono",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.jiraSearchUrl}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "0351c709-00ba-4a0d-90be-2bc2cf623e85",
      "name": "Jira - Buscar lead por teléfono",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "REEMPLAZAR_CREDENCIAL_JIRA_BASIC",
          "name": "REEMPLAZAR_CREDENCIAL_JIRA_BASIC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst search = $json;\nconst base = $items('Config Jira + campos')[0].json;\nconst issues = search.issues || [];\nreturn [{ json: { ...base, jiraSearchResult: search, leadFound: issues.length === 1, multipleLeadsFound: issues.length > 1, issue: issues[0] || null } }];\n"
      },
      "id": "ac6dd235-fd28-4992-98b7-7d87d98e075d",
      "name": "Evaluar resultado teléfono",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.leadFound}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "ea3f3d66-7a37-4a1d-987b-b7f5454ded88",
      "name": "IF Lead encontrado WhatsApp",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "sendTo": "={{$json.config.adminEmail}}",
        "subject": "Myutopia - WhatsApp no identificado",
        "message": "=Mensaje WhatsApp no identificado.\nTeléfono: {{$json.phone}}\nMensaje: {{$json.messageText}}",
        "options": {}
      },
      "id": "ac2ff56e-931b-4a1a-b960-79ff88f1c1da",
      "name": "Gmail - Alertar WhatsApp no identificado",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1680,
        520
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REEMPLAZAR_CREDENCIAL_GMAIL",
          "name": "REEMPLAZAR_CREDENCIAL_GMAIL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst f = $json.jiraFields;\nconst issue = $json.issue;\nconst fields = issue.fields || {};\nreturn [{\n  json: {\n    ...$json,\n    issueKey: issue.key,\n    issueId: issue.id,\n    issueStatus: fields.status?.name || '',\n    currentMessageId: $json.whatsappMessageId,\n    lastProcessedMessageId: fields[f.ultimoMessageIdProcesado] || '',\n    isDuplicateMessage: Boolean($json.whatsappMessageId && fields[f.ultimoMessageIdProcesado] === $json.whatsappMessageId),\n    currentTouch: fields[f.numeroToque]?.value || 'Sin toque',\n    currentSummary: fields[f.resumenConversacion] || '',\n    nombreContacto: fields[f.nombreContacto] || $json.leadName || '',\n    canalSeguimiento: fields[f.canalSeguimiento]?.value || 'WhatsApp',\n    leadEmail: fields[f.emailLead] || '',\n    gmailMessageId: $json.whatsappMessageId,\n    gmailThreadId: ''\n  }\n}];\n"
      },
      "id": "cbd2adf1-4a10-4c78-902f-9817788736dd",
      "name": "Preparar contexto WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst systemPrompt = `Eres un clasificador operativo para el seguimiento comercial postdiagnóstico de Myutopia.\n\nTu tarea es interpretar mensajes de leads y devolver únicamente JSON válido.\n\nNo inventes datos. No inventes fechas, precios, condiciones, respuestas técnicas ni compromisos comerciales.\n\nSi el mensaje contiene una pregunta técnica, una objeción importante, una duda compleja o una intención ambigua, debes escalar a administrador.\n\nIntenciones válidas:\n- accepts_proposal\n- signed\n- asks_question\n- price_objection\n- requests_technical_meeting\n- postpones\n- rejects\n- ambiguous\n- other\n\nSentimientos válidos:\n- Entusiasta\n- Dudoso\n- Molesto\n- Frío\n- Neutral\n- No detectado\n\nDevuelve solo este JSON:\n{\n  \"intent\": \"\",\n  \"confidence\": 0,\n  \"sentiment\": \"\",\n  \"summary\": \"\",\n  \"notes\": \"\",\n  \"extracted_follow_up_date\": null\n}`;\n\nconst userPrompt = `Canal: ${$json.channel}\nAsunto: ${$json.subject}\nMensaje del lead:\n${$json.messageText}\n\nEstado actual en Jira: ${$json.issueStatus}\nNº de toque actual: ${$json.currentTouch}\nResumen previo: ${$json.currentSummary}\n\nClasifica la intención del mensaje.`;\n\nreturn [{\n  json: {\n    ...$json,\n    openaiPayload: {\n      model: $json.config.openaiModel,\n      input: [\n        { role: \"system\", content: systemPrompt },\n        { role: \"user\", content: userPrompt }\n      ],\n      text: { format: { type: \"json_object\" } }\n    }\n  }\n}];\n"
      },
      "id": "99abb05f-415c-4066-a2ec-de535bfd57fe",
      "name": "Construir prompt OpenAI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REEMPLAZAR_OPENAI_API_KEY_O_USAR_CREDENCIAL"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.openaiPayload)}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f0372778-170b-4d24-8224-098cff23e40a",
      "name": "OpenAI - Clasificar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        260
      ],
      "notes": "Sustituir Authorization por credencial segura/variable de entorno."
    },
    {
      "parameters": {
        "jsCode": "\nconst base = $items('Construir prompt OpenAI')[0].json;\nconst resp = $json;\n\nfunction extractText(r) {\n  if (typeof r.output_text === 'string') return r.output_text;\n  if (Array.isArray(r.output)) {\n    const texts = [];\n    for (const out of r.output) {\n      if (Array.isArray(out.content)) {\n        for (const c of out.content) {\n          if (typeof c.text === 'string') texts.push(c.text);\n        }\n      }\n    }\n    if (texts.length) return texts.join('\\n');\n  }\n  return JSON.stringify(r);\n}\n\nlet raw = extractText(resp);\nlet ai;\ntry {\n  ai = JSON.parse(raw);\n} catch (e) {\n  ai = {\n    intent: \"ambiguous\",\n    confidence: 0,\n    sentiment: \"No detectado\",\n    summary: \"No se pudo parsear la respuesta de IA.\",\n    notes: `Respuesta IA inválida: ${raw}`,\n    extracted_follow_up_date: null\n  };\n}\n\nconst currentStatus = base.issueStatus;\nlet decision = {\n  targetStatus: currentStatus,\n  resetTouchCounter: false,\n  clearDueDate: false,\n  autoReply: false,\n  replyTemplate: null,\n  alertAdmin: false,\n  alertReason: null,\n  nextAction: 'Revisión pendiente',\n  shouldTransition: false\n};\n\nconst confidence = Number(ai.confidence || 0);\nif (confidence < base.config.confidenceThreshold.review) {\n  decision.alertAdmin = true;\n  decision.alertReason = 'Baja confianza de interpretación IA';\n  decision.targetStatus = currentStatus;\n  decision.shouldTransition = false;\n  decision.autoReply = false;\n} else {\n  switch (ai.intent) {\n    case 'accepts_proposal':\n      decision = { targetStatus:'Propuesta aceptada', resetTouchCounter:true, clearDueDate:true, autoReply:true, replyTemplate:'proposal_accepted', alertAdmin:true, alertReason:'Lead acepta la propuesta', nextAction:'Preparar contrato y primera factura', shouldTransition:true };\n      break;\n    case 'signed':\n      decision = { targetStatus:'Firmado', resetTouchCounter:true, clearDueDate:true, autoReply:false, replyTemplate:null, alertAdmin:true, alertReason:'Lead indica firma o formalización', nextAction:'Iniciar onboarding/kickoff', shouldTransition:true };\n      break;\n    case 'asks_question':\n      decision = { targetStatus:'En conversación', resetTouchCounter:true, clearDueDate:true, autoReply:false, replyTemplate:null, alertAdmin:true, alertReason:'Pregunta o aclaración del lead', nextAction:'Administrador debe responder personalmente', shouldTransition:true };\n      break;\n    case 'price_objection':\n      decision = { targetStatus:'En conversación', resetTouchCounter:true, clearDueDate:true, autoReply:false, replyTemplate:null, alertAdmin:true, alertReason:'Objeción de precio', nextAction:'Gestionar objeción comercial con prioridad', shouldTransition:true };\n      break;\n    case 'requests_technical_meeting':\n      decision = { targetStatus:'Reunión devs pendiente', resetTouchCounter:true, clearDueDate:true, autoReply:true, replyTemplate:'technical_meeting', alertAdmin:true, alertReason:'Solicita llamada con equipo técnico', nextAction:'Coordinar agenda con developers', shouldTransition:true };\n      break;\n    case 'postpones':\n      decision = { targetStatus:'A la espera', resetTouchCounter:true, clearDueDate:false, autoReply:true, replyTemplate:'postponed', alertAdmin:false, alertReason:null, nextAction: ai.extracted_follow_up_date ? `Retomar contacto en ${ai.extracted_follow_up_date}` : 'Retomar más adelante; fecha no especificada', shouldTransition:true };\n      break;\n    case 'rejects':\n      decision = { targetStatus:'Descartado', resetTouchCounter:true, clearDueDate:true, autoReply:true, replyTemplate:'rejected', alertAdmin:false, alertReason:null, nextAction:'Lead cerrado por rechazo', shouldTransition:true };\n      break;\n    case 'ambiguous':\n    default:\n      decision = { targetStatus: currentStatus, resetTouchCounter:false, clearDueDate:false, autoReply:false, replyTemplate:null, alertAdmin:true, alertReason:'Mensaje ambiguo o no concluyente', nextAction:'Interpretación humana requerida', shouldTransition:false };\n      break;\n  }\n}\n\nreturn [{ json: { ...base, ai, decision, openaiRaw: resp } }];\n"
      },
      "id": "19c222db-5a68-4e81-94e6-f7f0c9014335",
      "name": "Parsear IA + reglas WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst f = $json.jiraFields;\nconst ai = $json.ai;\nconst d = $json.decision;\nconst today = new Date().toISOString().slice(0, 10);\n\nconst fields = {\n  [f.fechaUltimoContacto]: today,\n  [f.gmailThreadId]: $json.gmailThreadId,\n  [f.ultimoMessageIdProcesado]: $json.gmailMessageId,\n  [f.sentimiento]: { value: ai.sentiment || 'No detectado' },\n  [f.resumenConversacion]: ai.summary || '',\n  [f.proximaAccion]: d.nextAction\n};\n\nif (d.resetTouchCounter) fields[f.numeroToque] = { value: 'Sin toque' };\nif (d.clearDueDate) fields[f.fechaVencimiento] = null;\n\nreturn [{ json: { ...$json, jiraUpdatePayload: { fields } } }];\n"
      },
      "id": "a753a63f-dbea-4d32-8216-d2e25b8f598e",
      "name": "Construir update Jira WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        260
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{$json.config.jiraBaseUrl}}/rest/api/3/issue/{{$json.issueKey}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.jiraUpdatePayload)}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d80ae2eb-116c-4899-8b49-b1b496c927e5",
      "name": "Jira - Actualizar campos WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        260
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "REEMPLAZAR_CREDENCIAL_JIRA_BASIC",
          "name": "REEMPLAZAR_CREDENCIAL_JIRA_BASIC"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "sendTo": "={{$json.config.adminEmail}}",
        "subject": "=Myutopia - WhatsApp procesado {{$json.issueKey}}",
        "message": "=Ticket: {{$json.issueKey}}\nIntención: {{$json.ai.intent}}\nConfianza: {{$json.ai.confidence}}\nDecisión: {{$json.decision.targetStatus}}\nMensaje: {{$json.messageText}}",
        "options": {}
      },
      "id": "464ac1d8-cc31-450a-8455-b122444cb495",
      "name": "Gmail - Alertar admin WhatsApp procesado",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3120,
        260
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REEMPLAZAR_CREDENCIAL_GMAIL",
          "name": "REEMPLAZAR_CREDENCIAL_GMAIL"
        }
      }
    }
  ],
  "connections": {
    "Webhook WhatsApp simulado": {
      "main": [
        [
          {
            "node": "Normalizar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar WhatsApp": {
      "main": [
        [
          {
            "node": "Config Jira + campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Jira + campos": {
      "main": [
        [
          {
            "node": "Construir JQL por teléfono",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir JQL por teléfono": {
      "main": [
        [
          {
            "node": "Jira - Buscar lead por teléfono",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira - Buscar lead por teléfono": {
      "main": [
        [
          {
            "node": "Evaluar resultado teléfono",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar resultado teléfono": {
      "main": [
        [
          {
            "node": "IF Lead encontrado WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Lead encontrado WhatsApp": {
      "main": [
        [
          {
            "node": "Preparar contexto WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Alertar WhatsApp no identificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar contexto WhatsApp": {
      "main": [
        [
          {
            "node": "Construir prompt OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir prompt OpenAI": {
      "main": [
        [
          {
            "node": "OpenAI - Clasificar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Clasificar WhatsApp": {
      "main": [
        [
          {
            "node": "Parsear IA + reglas WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear IA + reglas WhatsApp": {
      "main": [
        [
          {
            "node": "Construir update Jira WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir update Jira WhatsApp": {
      "main": [
        [
          {
            "node": "Jira - Actualizar campos WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira - Actualizar campos WhatsApp": {
      "main": [
        [
          {
            "node": "Gmail - Alertar admin WhatsApp procesado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "a8bc0c75-1078-4ca1-b545-d9da29798899",
  "triggerCount": 1,
  "tags": []
}